<router-outlet />

@if (isLoading()) {
<div
  style="display: flex; justify-content: center; align-items: center; height: 100vh; background-color: rgba(0,0,0,0.5); flex-direction: column;">
  <div style="text-align: center; display: flex; flex-direction: column; align-items: center;">
    <mat-spinner></mat-spinner>
    <p style="color: #CCCCCC; margin-top: 20px; font-size: 18px;">Loading data from Google Sheets...</p>
  </div>
</div>
} @else {
<div>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Unit 1</mat-label>
      <input type="text" placeholder="Pick one" aria-label="Unit1" matInput [formControl]="myControl1"
        (change)="onSelectedUnit1Change(myControl1.value || '')" [matAutocomplete]="auto1">
      <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
        @for (option of filteredOptions1 | async; track option) {
        <mat-option [value]="option">{{option}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <br><br>
  <!--  -->
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Unit 2</mat-label>
      <input type="text" placeholder="Pick one" aria-label="Unit2" matInput [formControl]="myControl2"
        (change)="onSelectedUnit2Change(myControl2.value || '')" [matAutocomplete]="auto2">
      <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
        @for (option of filteredOptions2 | async; track option) {
        <mat-option [value]="option">{{option}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <br><br>
  <!--  -->
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Unit 3</mat-label>
      <input type="text" placeholder="Pick one" aria-label="Unit3" matInput [formControl]="myControl3"
        (change)="onSelectedUnit3Change(myControl3.value || '')" [matAutocomplete]="auto3">
      <mat-autocomplete autoActiveFirstOption #auto3="matAutocomplete">
        @for (option of filteredOptions3 | async; track option) {
        <mat-option [value]="option">{{option}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <br><br>
</div>

<button (click)="search()" class="search-btn">Search</button>
<button (click)="clear()" class="clear-btn">Clear</button>

<div class="solution-container">
  <h1 style="color: #CCCCCC;">Solution:</h1>
  <!--  no solution -->
  <div *ngIf="solution === 'none'">
    <p style="color: #CCCCCC;">No Solution Found</p>
  </div>
  <!-- soltuion found -->
  <div class="strategy-table" *ngIf="solution && solution !== 'none'">
    <!-- ROW 1 -->
    <div class="strategy-layout">
      <!-- LEFT SIDE (units list) -->
      <div class="units">
        <div class="unit-row" *ngFor="let unit of solution.units">
          <!-- Unit icon + name -->
          <div class="unit-meta">
            <img class="avatar" [src]="getUnitImageUrl(unit.name)" />
            <div class="unit-name">{{ unit.name }}</div>
            <br /><br />
            <a *ngIf="unit.build" [href]="getSanitizedBuild(unit.build)" target="_blank" style="color:#d7dbe3;">
              example build
            </a>
          </div>

          <!-- Unit art -->
          <div class="unit-art">
            <img [src]="getArtiImageUrl(unit.arti)" />
            <div class="artifact">{{ unit.arti }}</div>
          </div>

          <!-- Unit info -->
          <div class="unit-info" *ngIf="unit.info">
            <div *ngFor="let line of unit.info.split('-')">
              <span *ngIf="line.trim()">- {{ line.trim() }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="side-panel">
      <div class="strategy" *ngIf="solution.strat">
        <h3>Strategy Outline</h3>
        <div *ngFor="let line of solution.strat.split('-')">
          <span *ngIf="line.trim()">- {{ line.trim() }}</span>
        </div>
      </div>

      <div class="video">
        <h3>Video Footage</h3>
        <div *ngIf="solution.video">
          <div class="yt-vid">
            <iframe type="text/html" width="560" height="315" [src]="getSanitizedVideo(solution.video)" frameborder="0"
              allowfullscreen id="ytplayer"></iframe>
          </div>
          <a [href]="solution.video" target="_blank">
            {{ solution.video }}
          </a>
        </div>
        <div *ngIf="!solution.video">
          <p style="color: #CCCCCC;">No video available</p>
        </div>
      </div>
    </div>
  </div>
</div>
}