<router-outlet />

<div>
  <input type="text" list="unit1" name="unit1" [(ngModel)]='selectedUnit1'
    (change)="onSelectedUnit1Change(selectedUnit1)" />
  <datalist id="unit1">
    <option *ngFor="let unit of units" [value]="unit">{{unit}} </option>
  </datalist>
  <br><br>
  <!--  -->
  <input type="text" list="unit2" name="unit2" [(ngModel)]='selectedUnit2'
    (change)="onSelectedUnit2Change(selectedUnit2)" />
  <datalist id="unit2">
    <option *ngFor="let unit of units">{{unit}} </option>
  </datalist>
  <br><br>
  <!--  -->
  <input type="text" list="unit3" name="unit3" [(ngModel)]='selectedUnit3'
    (change)="onSelectedUnit3Change(selectedUnit3)" />
  <datalist id="unit3">
    <option *ngFor="let unit of units">{{unit}} </option>
  </datalist>
  <br><br>
</div>

<button (click)="search()" class="seach-btn">Search</button>
<button (click)="clear()" class="clear-btn">Clear</button>

<div>
  <h1 style="color: #CCCCCC;">Solution:</h1>
  <!--  no solution -->
  <div *ngIf="solution === 'none'">
    <p style="color: #CCCCCC;">No Solution Found</p>
  </div>
  <!-- soltuion found -->
  <div class="strategy-table" *ngIf="solution && solution !== 'none'">
    <!-- ROW 1 -->
    <div class="strategy-layout">
      <!-- LEFT SIDE (units list) -->
      <div class="units">
        <div class="unit-row" *ngFor="let unit of solution.units">
          <!-- Unit icon + name -->
          <div class="unit-meta">
            <img class="avatar" [src]="getUnitImageUrl(unit.name)" />
            <div class="unit-name">{{ unit.name }}</div>
            <br /><br />
            <a *ngIf="unit.build" [href]="getSanitizedBuild(unit.build)" target="_blank" style="color:#d7dbe3;">
              example build
            </a>
          </div>

          <!-- Unit art -->
          <div class="unit-art">
            <img [src]="getArtiImageUrl(unit.arti)" />
            <div class="artifact">{{ unit.arti }}</div>
          </div>

          <!-- Unit info -->
          <div class="unit-info" *ngIf="unit.info">
            <div *ngFor="let line of unit.info.split('-')">
              <span *ngIf="line.trim()">- {{ line.trim() }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="side-panel">
      <div class="strategy" *ngIf="solution.strat">
        <h3>Strategy Outline</h3>
        <div *ngFor="let line of solution.strat.split('-')">
          <span *ngIf="line.trim()">- {{ line.trim() }}</span>
        </div>
      </div>

      <div class="video">
        <h3>Video Footage</h3>
        <div *ngIf="solution.video">
          <div class="yt-vid">
            <iframe width="560" height="315" [src]="getSanitizedVideo(solution.video)" frameborder="0"
              allowfullscreen></iframe>
          </div>
          <a [href]="solution.video" target="_blank">
            {{ solution.video }}
          </a>
        </div>
        <div *ngIf="!solution.video">
          <p style="color: #CCCCCC;">No video available</p>
        </div>
      </div>
    </div>
  </div>